/* * RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

/* ! Switch image on hover */

img {
    display: block;
    height: 600px;
}

img+img {
    display: none;
}

.card:hover img {
    display: none;
}

.card:hover img+img {
    display: inline-block;
}

/* ! */

.container {
    width: 95%;
    margin: 50px auto;
}

.row {
    margin-bottom: 30px;
    text-align: center;
}

.card {
    display: inline-block;
    position: relative;
    margin-left: 2px;
}

.tag {
    display: inline-block;
    font-weight: bold;
    height: 22px;
    color: white;
    bottom: 60px;
    position: absolute;
    z-index: 2;
    padding: 2px;
}

.discount {
    background-color: red;
    width: 40px;
    left: 0;
}

.sustenibility {
    background-color: green;
    left: 45px;
}

.heart {
    color: black;
    display: none;
    position: absolute;
    font-size: 2rem;
    z-index: 5;
    top: 10px;
    right: 5px;
}

.heart:active {
    color: red;
}



.info {
    text-align: left;
    font-weight: bold;
}

.brand {
    color: gray;
    font-size: 12px;
}

.name {
    text-transform: uppercase;
    font-weight: bold;
}

.current-price {
    color: red;
}

.old-price {
    text-decoration: line-through;
}
